* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sideBar {
    background-color: #344e41;
    height: 95vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 50px;
    position: absolute;
    border-radius: 20px;
    margin-block: 20px;
    margin-inline: 10px;
    top: 0;
    left: 0;
}

.sbSubSec {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-between;
}

.sbButton {
    width: 8vw;
    height: 60px;
    border-radius: 10px;
    border: 0px;
}

.sbButton:active {
    background-color: #D46C4E;
}

.button {
    height: 40px;
    width: 6vw;
    border-radius: 10px;
    border: 0px
}