* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sideBar {
    height: calc(100vh - 40px);
    width: calc(10vw - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 50px;
    position: absolute;
    border-radius: 20px;
    margin-block: 20px;
    margin-inline: 10px;
    top: 0;
    left: 40px;
}

.sbSubSec {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-between;
}

.sbButton {
    width: 8vw;
    height: 60px;
    border-radius: 10px;
    border: 0px;
}

.sbButton:active {
    background-color: #D46C4E;
}

.button {
    height: 40px;
    width: 12vw;
    border-radius: 10px;
    border: 0px;
    background-color: #cad2c5;
    font-weight: bold;
}

.adminBox {
    width: 12vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background-color: #cad2c5;
}